.bodyDiv{
    background-color:darkgray;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    margin: 0px;
    position: fixed;
}

.hangmanGraphic {
	background-color: dodgerblue;
    border: solid 2px white;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    text-align: center;
}


.inputSubmitButton {
    margin: 1em;
}
.inputTextBox {
    margin: 1em;
}

.phraseLetterDiv {
    background-color: indianred;
    font-size: 2em;
    display: inline-block;
    animation: phraseKeyFrames .5s forwards;
    width: .6em;
}
.winFrame {
    background-color: aquamarine;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0px;
    display: inline;
    text-align: center;
}
.loseFrame {
    background-color: crimson;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0px;
    display: inline;
    text-align: center;
}
.testDiv {
	background-color: yellow;
    height: 2em;
}
@keyframes phraseKeyFrames{
    0% {
        margin-left: 0em;
        opacity: 0;

    }
    
    50%{
        margin-left: .5em;
    }
    
    100% {
        margin-left: 0em;
        opacity: 1;
    }
    
}