.bodyDiv{
    background-color: #3D6E9E;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    margin: 0px;
    position: fixed;
}

.hangmanGraphic {
	background-color: #f3cd54;
    border: solid 2px white;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    text-align: center;
}


.inputSubmitButton {
    margin: 1em;
}
.inputTextBox {
    margin: 1em;
}

.phraseLetterDiv {
    background-color: #f3cd54;
    font-size: 2em;
    color: #9c7a0b;
    text-align: center;
    display: inline-block;
    margin: .3em;
    animation: phraseKeyFrames .5s forwards;
    width: 1.2em;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,.3);
}
.winFrame {
    background-color: #F3CD53;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0px;
    display: inline;
    text-align: center;
    box-shadow: 5px 5px 8px 10px rgba(0,0,0,.5);
}
.loseFrame {
    background-color: #4E49AA;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0px;
    display: inline;
    text-align: center;
    box-shadow: 5px 5px 8px 10px rgba(0,0,0,.5);
}
.testDiv {
	background-color: yellow;
    height: 2em;
}
@keyframes phraseKeyFrames{
    0% {
        margin-left: 0em;
        opacity: 0;

    }
    
    50%{
        margin-left: .5em;
    }
    
    100% {
        margin-left: 0em;
        opacity: 1;
    }
    
}